body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  margin-bottom: 15px;
  /* border-bottom: 4px solid grey; */
  height: 80px;
  width: 100%;
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
nav a {
  text-decoration: none;
  color: grey;
  font-size: 40px;
  line-height: 80px;
}
nav .logo {
  border-radius: 10px;
  border: 4px solid white;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  height: 60px;
}
nav input {
  float: right;
  margin-top: 20px;
  border-radius: 10px;
  border: 4px solid white;
  height: 35px;
  float: right;
  width: 250px;
  margin-right: 50px;
  line-height: 35px;
  padding-left: 10px;
  outline: 0;

}
nav .logo-text {
  margin-top: 20px;
  border-radius: 10px;
  border: 4px solid white;
  height: 35px;
  float: right;
  margin-right: 50px;
  background: white;
  line-height: 35px;
  padding-left: 10px;
  cursor: pointer;
}

.App {
  float: left;
  margin: 0 5px;
  margin-top: 100px;
}
.App:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  /* height: 400px; */
  float: left;
  width: 25%;
  padding: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.name-wrapper {
  height: 50px;
  width: 100%;
}
.movie-wrapper img {
  margin: 5px;
}

.opened {
  display: block;
}
.closed {
  display: none;
}

.grades {
  color: orange;
}

.last-page, .next-page {
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid grey;
  border-radius: 5px;
  outline: 0;
}
.next-page {
  float: right;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 33.3%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
